{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Login Here</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
            <div class="border-top pt-3"> 
                <small class="text-muted">
                    Don't have an account? <a class="ml-2"href="{% url 'register' %}">Sign Up</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}